<!DOCTYPE html>
<html>
<head>
<title>No Due Management System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="layout-center">

<header>
<h1>No Due Management System</h1>

<nav>
<a href="/">Home</a>
<a href="/student_login">Student</a>
<a href="/faculty_login">Faculty</a>
<a href="/hod_login">HOD</a>
</nav>
</header>

<main class="container">
{% block content %}
{% endblock %}
</main>

<footer>
<p>College No Due System</p>
{% block footer_links %}{% endblock %}
</footer>

</div>

</body>
</html>