{% extends 'base.html' %}

{% block content %}

<h2 class="page-title faculty">Faculty Dashboard</h2>

<table>

    <tr>
        <th>Student Reg No</th>
        <th>Subject</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for app in applications %}

    <tr>

        <td>{{ app.reg_no }}</td>
        <td>{{ app.subject_name }}</td>
        <td>
            {% if app.faculty_status == 'Approved' %}
            <span class="approved">Approved</span>
            {% elif app.faculty_status == 'Rejected' %}
            <span class="rejected">Rejected</span>
            {% else %}
            <span class="pending">Pending</span>
            {% endif %}
        </td>

        <td>
            <a class="approve" href="/faculty_approve/{{app.id}}">Approve</a>
            <a class="reject" href="/faculty_reject/{{app.id}}">Reject</a>
            <a class="btn-remove" href="/faculty_delete_application/{{app.id}}">Remove</a>
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}

{% block footer_links %}
<p><a href="/faculty_login" class="logout-btn">Logout</a></p>
{% endblock %}